<form>
  <div class="input-wrapper">
    <label for="firstCurrency" class="hidden">First currency</label>

    <select
      (change)="onCurrencyCanage()"
      name="firstCurrency"
      id="firstCurrency"
      [(ngModel)]="firstCurrency"
    >
      <option
        *ngFor="let currency of availableCurrencies"
        value="{{ currency }}"
      >
        {{ currency }}
      </option>
    </select>

    <label for="firstAmount" class="hidden">First amount</label>

    <input
      (change)="onFirstChange()"
      (input)="onFirstChange()"
      type="number"
      name="firstAmount"
      [(ngModel)]="firstAmount"
      id="firstAmount"
      min="0"
    />
  </div>
  <span class="arrow">{{ currentInput === "first" ? "=>" : "<=" }}</span>
  <div class="input-wrapper">
    <label for="secondAmount" class="hidden">Second amount</label>

    <input
      (change)="onSecondChange()"
      (input)="onSecondChange()"
      type="number"
      name="secondAmount"
      [(ngModel)]="secondAmount"
      id="secondAmount"
      min="0"
    />

    <label for="secondCurrency" class="hidden">Second currency</label>

    <select
      (change)="onCurrencyCanage()"
      name="secondCurrency"
      id="secondCurrency"
      [(ngModel)]="secondCurrency"
    >
      <option
        *ngFor="let currency of availableCurrencies"
        value="{{ currency }}"
      >
        {{ currency }}
      </option>
    </select>
  </div>
</form>
