.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

form {
  display: flex;
  gap: 40px;
  font-size: 16px;
  line-height: 1.4;
}

.input-wrapper {
  display: flex;
  gap: 10px;
}

input,
select {
  padding: 7px;
  border-radius: 10px;
}

.arrow {
  color: var(--contrast-color);
  font-size: 24px;
}
